
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录 - 网易严选</title>
    <meta name="keywords" content="网易严选,严选,电子商务,网购,居家,厨房,饮食,甄选家,有态度,一流制造商,匠心打造,源头把控,绿色,安全,舒适,健康,品质,严格甄选,出口品质" />
    <meta name="description" content="网易严选秉承网易一贯的严谨态度，深入世界各地，严格把关所有商品的产地、工艺、原材料，甄选居家、厨房、饮食等各类商品，力求给你最优质的商品。" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico?r=gold" type="image/x-icon" />
    <meta property="qc:admins" content="365774662561636375" />
    <link rel="stylesheet" href="css/style-341e21f103_1.css" type="text/css" />
    <script type="text/javascript">
        (function(){
            var userAgent = window.navigator.userAgent;
            if(/windows|win32/i.test(userAgent)) {
                if(/Windows NT 5/.test(userAgent)) {
                    document.writeln('<style type="text/css">' + 'body,button,input,select,textarea,code{font-family: tahoma,sans-serif;}' + '<' + '/style>');
                }
            } else if(/macintosh/i.test(userAgent)) {
                document.writeln('<style type="text/css">' + 'body,button,input,select,textarea,code{font-family: "Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;}' + '<' + '/style>');
            }
        })();
    </script><link rel="stylesheet" href="css/login-c8c125ab01.page.css">
    <link rel="stylesheet" href="css/login-36a51531de.css">
    <link rel="stylesheet" type="text/css" href="css/yxcomponent.all.min_1.css">
    <!--[if lt IE 9]>
    <script src="js/ie-23e126e677_1.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="1;url=/error/lowVersionBrowser" />
    <script>top.window.location.href='/error/lowVersionBrowser';</script>
    <![endif]-->
    <script>
        var YXStat = {};
        YXStat.q = YXStat.q || [];
        //设置pageview的event_name
        window.CURRENTPAGE = 'login';
        (function() {
            var done = false;
            var stat = document.createElement('script');
            stat.type = 'text/javascript';
            stat.async = true;
            stat.src = '//yanxuan.nosdn.127.net/hxm/yanxuan-analytics/common/js/stat.min.js?v='+ (new Date).toLocaleDateString();
            stat.onload = stat.onreadystatechange = function(){
                if(!done && (!this.readyState ||this.readyState === "loaded" || this.readyState === "complete")){
                    done = true;
                    YXStat.init({
                        client_type: "web",
                        url: "//dc.you.163.com/main/a.js",
                        isAgent:true
                    });
                }
            };
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(stat, s);
        })();
    </script>
</head>
<body>
<div id="j-YXComponentTop"
     style="height:240px">
</div>
<div class="g-bd">
    <div class="m-bdbg">
        <div class="g-row">
            <div class="m-login-Page">
                <div id="j-loginFormWrap" >
                </div>
            </div>
        </div>
    </div>
</div>
<div id="j-YXComponentFoot"
     style="height:503px">
</div>
<script>
    window['yxCurrentPage'] = 'login';
    window['yxIsShowCategory'] = 'yes';
    window['yxIsShowFt'] = 'yes';
    window['yxIsShowFt2'] = 'yes';
    window['kefuGroupType'] = 2
</script>
<script src="js/vender-c1479496a3_1.js"></script>
<script src="js/common-0778c76bca_1.js"></script>
<script type="text/javascript">
    window["$global"] = {
        giftSwitch : "false",
        nickname : "64962dcfd71cdec8d644661a27004d89",
        username : "64962dcfd71cdec8d644661a27004d89@tencent.163.com",
        userid : "98638290",
        domain : "http://you.163.com", //举例：http://you.163.com
        environment : "online",
    };
    window['defaultwordList'] = [];
    window['defaultwordList'].push({
        "content":'Max Mara制造商羊毛大衣直降225元',
        "contentUrl":'http://you.163.com/act/pub/qKOpqPRK73.html?keyword=Max%20Mara%E5%88%B6%E9%80%A0%E5%95%86%E7%BE%8A%E6%AF%9B%E5%A4%A7%E8%A1%A3%E7%9B%B4%E9%99%8D225%E5%85%83',
        "hidden":0
    });
    window['defaultwordList'].push({
        "content":'居家浴室两用取暖器限时仅319元',
        "contentUrl":'http://you.163.com/item/detail?id=1397003&keyword=%E5%B1%85%E5%AE%B6%E6%B5%B4%E5%AE%A4%E4%B8%A4%E7%94%A8%E5%8F%96%E6%9A%96%E5%99%A8%E9%99%90%E6%97%B6%E4%BB%85319%E5%85%83',
        "hidden":0
    });
    window['defaultwordList'].push({
        "content":'感恩节礼物买1送1',
        "contentUrl":'http://you.163.com/act/pub/NWuljSeCXq.html#scroll2?keyword=%E6%84%9F%E6%81%A9%E8%8A%82%E7%A4%BC%E7%89%A9%E4%B9%B01%E9%80%811',
        "hidden":1
    });
    window['defaultwordList'].push({
        "content":'超好吃爆款网红曲奇限时仅79元',
        "contentUrl":'http://you.163.com/item/list?categoryId=1005002&subCategoryId=1008015&keyword=%E8%B6%85%E5%A5%BD%E5%90%83%E7%88%86%E6%AC%BE%E7%BD%91%E7%BA%A2%E6%9B%B2%E5%A5%87%E9%99%90%E6%97%B6%E4%BB%8579%E5%85%83',
        "hidden":0
    });
    window['defaultwordList'].push({
        "content":'罗莱制造商保暖鹅绒被直减380元',
        "contentUrl":'http://you.163.com/item/list?categoryId=1005000&subCategoryId=1008008&keyword=%E7%BD%97%E8%8E%B1%E5%88%B6%E9%80%A0%E5%95%86%E4%BF%9D%E6%9A%96%E9%B9%85%E7%BB%92%E8%A2%AB%E7%9B%B4%E5%87%8F380%E5%85%83',
        "hidden":0
    });
    window['defaultwordList'].push({
        "content":'懒人按摩坐垫限时直降100元',
        "contentUrl":'http://you.163.com/act/pub/NWuljSeCXq.html?keyword=%E6%87%92%E4%BA%BA%E6%8C%89%E6%91%A9%E5%9D%90%E5%9E%AB%E9%99%90%E6%97%B6%E7%9B%B4%E9%99%8D100%E5%85%83',
        "hidden":0
    });
    window['defaultwordList'].push({
        "content":'Chloe制造商1折价再送45元羊毛袜',
        "contentUrl":'http://you.163.com/act/pub/NWuljSeCXq.html?keyword=Chloe%E5%88%B6%E9%80%A0%E5%95%861%E6%8A%98%E4%BB%B7%E5%86%8D%E9%80%8145%E5%85%83%E7%BE%8A%E6%AF%9B%E8%A2%9C',
        "hidden":0
    });
</script>
<script type="text/javascript" src="js/yxcomponent.all.min_1.js"></script>
<script type="text/javascript">
    var backgroundUrl = "";
</script>
<script type="text/javascript" src="js/message_170510.js"></script>
<script src="js/login-c112a33a7b.page.js"></script>
<script type="text/javascript">
    var youdao_conv_id = 285846;
</script>
<script type="text/javascript" src="js/conv_1.js" async></script>
<script type="text/javascript">
    var currentPageIsIndex = false;
</script>
<script>
    window.nickname = '64962dcfd71cdec8d644661a27004d89';
</script>
</body>
</html>