
<!--suppress ALL -->
<article class="page-container Hui-article-box">
    <form class="form form-horizontal" id="form-article-add" action="{:url('save')}" method="post">
        {:token()}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="pid" class="select" id="cid">

                    <option value="0" >--顶级栏目--</option>
                {foreach $data as $val}
                    <option value="{$val.id}" >{$val.catname}</option>
                {/foreach}
				</select>
				</span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="catname">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="0" placeholder="" id="" name="catorder">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="status" class="select">
					<option value="0">显示</option>
					<option value="1">隐藏</option>

				</select>
				</span> </div>
        </div>
        <div class="row cl">
            <div class="col-xs-4 col-sm-2 col-xs-offset-3 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" >
            </div>
        </div>
    </form>
